*

# project files
!3d models tips.txt
!gitgui.sh
!ModelGenericInfoToLinkAtFtlFileFolder.README.txt
!prepareFile.sh
!prepareWindowsLinkCreators.sh
!prepareWindowsLinkCreators.sh.bat
!README.md
!.gitignore

!bin/
!bin/*.sh
!bin/*.png

!docs
!docs/*.txt
!docs/filetypes.d
!docs/WikiPatches/
!docs/WikiPatches/Script/
!docs/WikiPatches/Script/*.md
!docs/PR/
!docs/PR/*.txt

!plugins/
!plugins/blender/
!plugins/blender/arx_addon/
!plugins/blender/arx_addon/README.txt
!plugins/blender/arx_addon/unpackFtl.simpleCmdLine.py
!plugins/blender/arx_addon/unpackFtl.simpleCmdLine.sh

!screenshots/
!screenshots/*.png
!screenshots/*.txt

!tools/
!tools/interim/
!tools/interim/0.Interim.README-FIRST.txt
!tools/interim/convertFTLtoOBJ.sh
!tools/interim/convertOBJtoFTL.sh
!tools/interim/convertOBJtoFTL.sh.WIP
!tools/interim/HowTo.interim.ImportExportFtl.txt
!tools/interim/SPECIALTX_ORIGIN.png

!tests/
!tests/ScriptsOverridingAndPatching/
!tests/ScriptsOverridingAndPatching/newLogLooksLike.txt
!tests/ScriptsOverridingAndPatching/readme.txt
!tests/ScriptsOverridingAndPatching/mods/
!tests/ScriptsOverridingAndPatching/mods/modloadorder.cfg
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/interactive/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/interactive/items/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/interactive/items/magic/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/interactive/items/magic/hologram/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/interactive/items/magic/hologram/hologram.asl.override.asl
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 1/graph/obj3d/interactive/items/magic/hologram/hologram.asl.patch
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/interactive/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/interactive/items/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/interactive/items/magic/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/interactive/items/magic/hologram/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/interactive/items/magic/hologram/hologram.asl.override.asl
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 2/graph/obj3d/interactive/items/magic/hologram/hologram.asl.patch
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/interactive/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/interactive/items/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/interactive/items/magic/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/interactive/items/magic/hologram/
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/interactive/items/magic/hologram/hologram.asl.override.asl
!tests/ScriptsOverridingAndPatching/mods/test mod override hologram 3/graph/obj3d/interactive/items/magic/hologram/hologram.asl.patch

# Mod AncientDevices: find Mod.AncientDevices -type d |sed -r 's@^(.*)@!\1\n!\1/*@'
!Mod.AncientDevices/
!Mod.AncientDevices/*
!Mod.AncientDevices/ArxLaetansMod/
!Mod.AncientDevices/ArxLaetansMod/*
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/*
#!Mod.AncientDevices/ArxLaetansMod/AncientDevices/WorkFiles/
#!Mod.AncientDevices/ArxLaetansMod/AncientDevices/WorkFiles/*
#!Mod.AncientDevices/ArxLaetansMod/AncientDevices/WorkFiles/3DModels/
#!Mod.AncientDevices/ArxLaetansMod/AncientDevices/WorkFiles/3DModels/*
#!Mod.AncientDevices/ArxLaetansMod/AncientDevices/WorkFiles/Textures/
#!Mod.AncientDevices/ArxLaetansMod/AncientDevices/WorkFiles/Textures/*
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/3DModels/
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/3DModels/*
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Sounds/
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Sounds/*
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Scripts/
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Scripts/*
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Textures/
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Textures/*
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Icons/
!Mod.AncientDevices/ArxLaetansMod/AncientDevices/Icons/*

# mod files (3D models etc) autogen
!ArxLaetansMod.MagicPotions.7z
!ArxLaetansMod.RestorationPotions.7z
!ArxLaetansMod.MagicGlassBottles.7z
!ArxLaetansMod.Beverages.7z
!ArxLaetansMod.HazardousPotions.7z
