# uncomment below to have a strict filter. Comment to detect changes to new files that are still not at the strict filters below
*

# project files
!3d models tips.txt
!gitgui.sh
!ModelGenericInfoToLinkAtFtlFileFolder.README.txt
!prepareFile.sh
!prepareWindowsLinkCreators.sh
!prepareWindowsLinkCreators.sh.bat
!README.md
!.gitignore

!bin/
!bin/*.sh
!bin/*.png

!docs
!docs/*.txt
!docs/filetypes.d
!docs/WikiPatches/
!docs/WikiPatches/Script/
!docs/WikiPatches/Script/*.md
!docs/PR/
!docs/PR/*.txt

!plugins/
!plugins/blender/
!plugins/blender/arx_addon/
!plugins/blender/arx_addon/README.txt
!plugins/blender/arx_addon/unpackFtl.simpleCmdLine.py
!plugins/blender/arx_addon/unpackFtl.simpleCmdLine.sh

!screenshots/
!screenshots/*.png
!screenshots/*.txt

!tools/
!tools/interim/
!tools/interim/0.Interim.README-FIRST.txt
!tools/interim/convertFTLtoOBJ.sh
!tools/interim/convertOBJtoFTL.sh
!tools/interim/convertOBJtoFTL.sh.WIP
!tools/interim/HowTo.interim.ImportExportFtl.txt
!tools/interim/SPECIALTX_ORIGIN.png

# find tests -type d |sed -r 's@^(.*)@!\1\n!\1/*@' |sort -u
!tests
!tests/*
!tests/ScriptsOverridingAndPatching
!tests/ScriptsOverridingAndPatching/*
!tests/ScriptsOverridingAndPatching/mods
!tests/ScriptsOverridingAndPatching/mods/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/items
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/items/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/items/magic
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/items/magic/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/items/magic/hologram
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 1/graph/obj3d/interactive/items/magic/hologram/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/items
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/items/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/items/magic
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/items/magic/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/items/magic/hologram
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 2/graph/obj3d/interactive/items/magic/hologram/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/items
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/items/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/items/magic
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/items/magic/*
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/items/magic/hologram
!tests/ScriptsOverridingAndPatching/mods/test mod hologram 3/graph/obj3d/interactive/items/magic/hologram/*

# find ArxLaetansMod.AncientDevice.* -type d -not -iregex ".*/tmp.*\|.*/blender_.*\|.*/rendered.*" |sed -r -e 's@^(.*)@!\1\n!\1/*@' |sed -r -e 's@.*WorkFile.*@#&@' |sort -u
!ArxLaetansMod.AncientDevice.Grenade
!ArxLaetansMod.AncientDevice.Grenade/*
!ArxLaetansMod.AncientDevice.Grenade/game
!ArxLaetansMod.AncientDevice.Grenade/game/*
!ArxLaetansMod.AncientDevice.Grenade/game/graph
!ArxLaetansMod.AncientDevice.Grenade/game/graph/*
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/*
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/interactive
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/interactive/*
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/interactive/items
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/interactive/items/*
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/interactive/items/ancientdevices
!ArxLaetansMod.AncientDevice.Grenade/game/graph/obj3d/interactive/items/ancientdevices/*
!ArxLaetansMod.AncientDevice.Grenade/graph
!ArxLaetansMod.AncientDevice.Grenade/graph/*
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/*
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/interactive
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/interactive/*
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/interactive/items
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/interactive/items/*
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/interactive/items/ancientdevices
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/interactive/items/ancientdevices/*
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/textures
!ArxLaetansMod.AncientDevice.Grenade/graph/obj3d/textures/*

# keep almost last, this will futher prevent such files (would not if on top!)
ArxLaetansMod.AncientDevice.Grenade/unpackFtl.simpleCmdLine.sh
ArxLaetansMod.AncientDevice.Grenade/convertFTLtoOBJ.sh
ArxLaetansMod.AncientDevice.Grenade/convertOBJtoFTL.sh
*.lowercase.*
*.sbkp
*.xcf
*autosave.blend
*.blend
*.blend1
*.log
*DO_NOT_COMMIT*
.cfg
*.old
!*.sh

# mod files (3D models etc) appended from autogen
!ArxLaetansMod.MagicPotions.7z
!ArxLaetansMod.RestorationPotions.7z
!ArxLaetansMod.MagicGlassBottles.7z
!ArxLaetansMod.Beverages.7z
!ArxLaetansMod.HazardousPotions.7z

